body{
	background-color: #f7fffa !important;
}
thead{
	background-color: darkcyan !important ;
	color: white !important ;
}
table{
	text-align: center;
	
}
hr{
	background-color: #414744 !important;
	width: 1160px;

	height:1px !important;
	
}

.topnavi a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnavi a:hover {
  background-color: #ddd;
  color: black;
}

.topnavi a.active {
  background-color: #04AA6D;
  color: white;
}

#btn-accept{
	background-color: mediumseagreen;
	color: white;
}
.wrapper{
	width: 75% !important;
	margin: auto;
	margin-top: 50px;
}

.emp-profile{
	width:80%;
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    border: 2px solid mediumseagreen;
    background:white;
    
  
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 150px;
    height: 150px;
   
}
.profile-img .file {
    position: relative;
    
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-head h5{
    color: #333;
}
.profile-head h6{
    color:darkcyan;
}

.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid darkcyan;
}
.profile-work{
    padding: 5%;
    margin-top: -15%;
}
.profile-work p{
   
    color: darkslategrey;
    font-weight: 600;
    
    
}

.profile-work ul{
    list-style: none;
    font-weight: 600;
    
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: darkslategray;
}

#foot{
	height: 200px;
}
.pro{
	margin-left: 90px !important;
	margin-top: 30px;
	margin-right: 200px;
}

/*rating*/

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


